:root {
    --primary-color: #f3ff00 ; 
    --secondary-color: #0542b3;

    --accent-color: #ffae00 ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Styling for the header */

header {
    padding: 20px 35px;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/bgImage.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3%;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3); 
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 3%;
}

header nav ul li a:hover {
    color: var(--primary-color);
    background-color: rgb(230, 255, .8);
}


/* About me Styling */
.about {
    color: var(--secondary-color);
    text-align: center;
    background-image: url("../images/bgImage.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}



/* My Work Styling */

.main-project {
    display: flex;
    margin: 15px 15px;      
}

.main-project img {
    justify-content: space-around;
    align-items: center;
    width: 40%;
    border: 2px outset var(--accent-color);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

